# Virtual env
movie_env/
venv/
.venv/
# Python cache
__pycache__/
*.pyc
# IDE
*.sqlite3
.env
moviedb/db.sqlite3
moviedb/*/__pycache__/*
moviedb/*/*/__pycache__/*
# moviedb/watchlist_app/__pycache__/*
# moviedb/watchlist_app/migrations/__pycache__/*